* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding-top: 50px;
}

section {
	margin: 0;
	padding: 0;
}

.content {
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
}

/* NAVIGATION STYLES */

.container-fluid {
	background-color: #1F1F1F;
	border-bottom: 3px solid #000;
}

.contact-us {
	font-family: 'Roboto', sans-serif; 
  	font-size: 1.5rem; 
  	color: #fff; 
  	letter-spacing: 0.03em;
  	font-weight: bold;
  	-webkit-font-smoothing: antialiased;
	padding: 0.15em 1em;
	background: #51C747;
	border-radius: 30px;
	border: none;
}

.logo {
	width: 33px;
	vertical-align: middle;
}

.navbar-inverse .navbar-nav > li {
    color: white;
}

.navbar-custom {
  font-family: 'Roboto', Arial, sans-serif;
  color: #fff;
  font-style: 900;
}

.hipaa-tool-nav > li {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
	font-family: 'Roboto', Arial, sans-serif;
	color: white;
	font-weight: 600;
	letter-spacing: 0.3;
}

.navbar-inverse .navbar-nav > li > a.overview-green {
	color: #72B747;
}

.navbar-inverse .navbar-nav > li > a:hover {
	opacity: 0.7;
}

/* MAIN STYLES */



.introduction {
	background-color: #363636;
	height: 100vh;
}

.policies,
.news {
	background-color: #505050;
	height: 100vh;
}

.policies,
.news {
	border-top: 2rem solid #3F3F3F;
}

.overview,
.training,
.resources {
	background-color: #72B747;
	border-top: 2rem solid #558C34;
	height: 100vh;
}

.footer {
	background-color: #3B3B3B;
}

/* INTRODUCTION STYLES */

.product {
	background-color: #72B747;
	border-top: 2rem solid #558C34;
	border-bottom: 2rem solid #558C34;
	height: 60%;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hipaa-box {
	width: 350px;
	float: left;
	padding-top: 1.8rem;
}

.page-title {
	color: #404040;
	font-weight: 900;
	font-size: 6rem;
	margin: 0 0;
}

.package {
	display: block;
	float: left;
	width: 30%;
	margin-left: 10%;
	margin-top: 5rem;
	margin-bottom: auto;
	clear: both;
}

.intro {
	display: block;
	float: right;
	width: 50%;
	margin-right: 10%;
	margin-top: 5rem;
	margin-bottom: auto;
}

.intro-text {
	color: #fff;
	font-size: 3rem;
	font-weight: 300;
	line-height: 3rem;
	margin: 0 0;
	padding: .25rem;
	overflow: none;
}

.buy-now {
	font-family: 'Roboto', sans-serif; 
  	font-size: 2rem; 
  	color: #fff; 
  	letter-spacing: 0.1em;
  	font-weight: 500;
  	-webkit-font-smoothing: antialiased;
	padding: 1.5rem 2.5rem;
	background-color: #568C34;
	border-radius: 30px;
	border: none;
	margin-top: 2rem;
	margin-right: 3em;
	margin-left: 3em;
}

.learn-more {
	font-family: 'Roboto', sans-serif; 
  	font-size: 2rem; 
  	color: #fff; 
  	letter-spacing: 0.1em;
  	font-weight: 700;
  	-webkit-font-smoothing: antialiased;
	padding: 1.5rem 1.2rem;
	border: 3px solid #fff;
	background: none;
	border-radius: 4px;
}

/* OVERVIEW STYLES */

.include {
	text-align: center;
	font-size: 3rem;
	color: #434343;
	padding-top: 6rem;
}

.title {
	color: #fff;
}

.main {
	background-color: #F2F2F2;
	border-radius: 3px;
	width: 60%;
	height: 70%;
	margin-top: 2.5rem;
	margin-left: 5%;
	float: left;
	text-align: center;
	overflow: hidden;
}

.plus {
	vertical-align: middle;
	height: 70%;
	margin-top: 2.5rem;
	margin-left: 2%;
	margin-right: 0;
	float: left;
	text-align: center;
}

.plus-sign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 80px;
	display: inline-block;
	vertical-align: middle;
}

.second {
	background-color: #F2F2F2;
	border-radius: 3px;
	width: 20%;
	height: 70%;
	margin-top: 2.5rem;
	margin-right: 5%;
	float: right;
	overflow: hidden;
	text-align: center;
}

.small-icon {
	width: 100px;
}

.smallest-icon {
	width: 50px;
}

.buy-now-small {
	font-family: 'Roboto', sans-serif; 
  	font-size: 1.5rem; 
  	color: #000; 
  	letter-spacing: 0.1em;
  	font-weight: 500;
  	-webkit-font-smoothing: antialiased;
	padding: 0.5em 1em;
	border: 2px solid #000;
	background: none;
	border-radius: 2px;
}

.overview-title {
	color: #505050;
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: 0.2rem;
	margin-bottom: 0.2rem;
}

.subscription-title {
	color: #505050;
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.2rem;
	margin-bottom: 2rem;
}

.one-time-cost {
	margin-left: auto;
	margin-right: auto;
}

.one-time-cost > li {
	display: inline-block;
	width: 30%;
	text-align: center;
	padding: 1.1rem;
}

.small-title {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2rem;
	padding-top: 0.8rem;
	padding-bottom: 0.6rem;
}

.smallest-title {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	padding-top: 0.2rem;
	padding-bottom: 0.8rem;
}

.small-desc {
	font-size: 1.4rem;
	font-weight: 400;
}

.separately {
	font-size: 1.3rem;
	font-weight: 300;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

/* P&P STYLES */

.policies {
	text-align: center;
}

h2 {
	color: #fff;
	font-size: 3rem;
	padding-top: 6rem;
	text-align: center;
	text-transform: uppercase;
}

.policy-text {

}

.p-p {
	width: 25rem;
	margin: 1.5rem;
	padding: 1rem;
}

.p-and-p {
	width: 70%;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 300;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.highlight {
	color: #72B747;
	font-weight: bold;
}

.sign-up {
	font-family: 'Roboto', sans-serif; 
  	font-size: 2rem; 
  	color: #fff; 
  	letter-spacing: 0.1em;
  	font-weight: 700;
  	-webkit-font-smoothing: antialiased;
	padding: 0.75em 1.2em;
	border: 3px solid #fff;
	background: none;
	border-radius: 2px;
}

/* CONTENT BOX STYLES */

.training,
.news,
.resources {
	text-align: center;
}

.box-icon {
	width: 20rem;
	height: 20rem;
	margin: 1rem;
	padding: 1rem;
}

.content-box {
	color: #fff;
	text-align: center;
	width: 40%;
	height: 65%;
	border: 3px solid #fff;
	padding: 1rem;
	display: inline-block;
	margin: 2.5rem;
}

.content-box h3 {
	text-transform: uppercase;
	font-size: 2.5rem;
}

.sign-up-small {
	font-family: 'Roboto', sans-serif; 
  	font-size: 2rem; 
  	color: #fff; 
  	letter-spacing: 0.1em;
  	font-weight: 700;
  	-webkit-font-smoothing: antialiased;
	padding: 0.5em 1em;
	border: 3px solid #fff;
	background: none;
	border-radius: 2px;
}

.box-para {
	font-family: 'Roboto', sans-serif; 
  	font-size: 1.5rem; 
  	color: #fff; 
  	letter-spacing: 0.1em;
  	font-weight: 400;
  	-webkit-font-smoothing: antialiased;
  	padding-left: 1rem;
  	padding-right: 1rem;
  	padding-bottom: 1em;
}

/* FOOTER STYLES */

.footer {
	margin-top: 0;
	margin-bottom: 0;
  	height: 60vh;
  	text-align: center;
  	overflow: none;
}

.footer h5 {
	display: block;
	color: #EDEDED;
	font-size: 3rem;
	font-weight: 400;
	padding-top: 2rem;
	margin-bottom: 0;
}

.footer .icons {
  	width: 930;
  	padding: 0 0;
  	margin-top: 1.5rem;
  	margin-bottom: 1.5rem;
}

.footer .icons > li {
	color: #fff;
	border-radius: 5rem;
	font-size: 2.25rem;
  	width: 4rem;
  	height: 4rem;
  	display: inline-block;
  	margin: 1.25rem 1rem;
  	border: 1px solid #EAEBEC;
  	padding: 0.625rem;
  	text-align: center;
}

.footer .icons > li > a {
	color: #fff;
}

.footer .icons > li > a:hover {
	color: #72B427;
}

.by-line {
	font-size: 2rem;
	color: #767676;
	float: left;
	text-align: left;
}

.address {
	font-size: 2rem;
	color: #767676;
	float: left;
	text-align: left;
	margin-right: 0;
}

.closing {
	text-align: left;
	margin-left: 10rem;
	margin-top: 3rem;
}

.footing {
	text-align: center;
}

.closing li {
	width: 30%;
	display: inline-block;
	float: left;
}

.by-line > a:hover,
a:visited {
	color: #72B427;
	opacity: 0.7;
	text-decoration: none;
}

.address > a:hover,
a:visited {
	color: #72B427;
	opacity: 0.7;
	text-decoration: none;
}

.closing {
	text-align: center;
}

.closing-logo {
	width: 100px;
	padding: 0 auto;
}

.copy {
	display: block;
	padding-top: 3rem;
	color: #767676;
}





